@font-face 
{
    font-family: 'robotoRegular';
    src: url('./fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face 
{
    font-family: 'robotoBold';
    src: url('./fonts/Roboto-Bold.ttf') format('truetype');
}

/*Style général*/
body
{
	font-family: 'robotoRegular', Comic Sans MS, Verdana, Arial, sans-serif;
	font-size: 0.9em;
	margin-right: 0px;
	margin-left: 0px;
}

h1, h2, h3, h4
{
	font-family: 'robotoBold', Comic Sans MS, Verdana, Arial, sans-serif;
}

h2
{
	text-transform: uppercase;
}

section, header, footer
{
	margin-top: 60px;
}

.ancre
{
	position: relative;
	top: -100px;
}

.titre
{
	text-align: center;
	width: 50%;
	margin: auto;
}

.btn
{
	width: auto;
	padding: 6px 6px 6px 6px;
	font-family: 'robotoBold';
	color: white;
	background-color: rgb(78, 177, 213); /*couleur du point dans le logo webagency*/
	box-shadow: 0px 3px 0px rgb(70, 140, 173);
	border: 1px;
	border-radius: 3px;
}

.name
{
	color: rgb(78, 177, 213);
}

/*Header et navigation*/
.fixed
{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
	background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
}

nav ul
{
	display: flex;
	list-style-type: none;
}

.fixed li
{
	margin-right: 10%;
}

nav a
{
	color: black;
	text-decoration: none;
	padding-top: 20px;
}

nav a:hover, .focus
{
	border-top: 3px solid rgb(78, 177, 213);
}

.logoWebAgency
{
	max-width: 261px;
	max-height: 57px;
}

/* Acceuil */
h1
{
	text-transform: uppercase;
}

#slider
{
	position: relative;
	color: white;
}

#sliderText
{
	position: absolute;
	top: 50%;
	left: 10%;
	width: 60%;
	transform: translateY(-50%);
}

.sliderImage
{
	width: 100%;
}

.slider
{
     display: none;
}

.prev, .next 
{
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.prev
{
	transform: translate(-50%, -50%);
}

.next 
{
  right: 0;
  transform: translate(50%, -50%);
}

.fa-chevron-left
{
	position: absolute;
  	top: 50%;
  	right: 30%;
  	transform: translate(50%, -50%);
}

.fa-chevron-right
{
	position: absolute;
  	top: 50%;
  	left: 30%;
  	transform: translate(-50%, -50%);
}

#timeline 
{
	position: absolute;
	background-color: rgb(78, 177, 213);
	bottom: 1%;
	height: 1%;
	width: 100%;
	opacity: 0;
}

.anime
{
	-webkit-animation: timeliner 5s;
	animation: timeliner 5s;
}

@-webkit-keyframes timeliner 
{
	0%	{ 
		width: 0;
	}
	100%	{ 
		width: 100%;	
	}
}

@keyframes timeliner 
{
	0%	{ 
		width: 0;
	}
	100%	{ 
		width: 100%;	
	}
}

/*Services*/
#servicesContent
{
	display: flex;
	align-items: center;
}

.line
{
	border-bottom: 1px solid silver;
	width: 100px;
	display: inline-flex;
	justify-content: space-around;
	position: relative;
}

.separe
{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: rgb(78, 177, 213);
	margin: 2px solid white;
	position: relative;
	top: 6px;
}

.ordi
{
 	width: 50%;
 	display: flex;
 	justify-content: center;
 	align-items: center;
}

.logoContainer
{
	display: flex;
}

.logo
{
	font-size: 2em;
	color: rgb(78, 177, 213);
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 30px;
	border: 1px solid silver;
	border-radius: 50%;
	padding: 15px 18px 15px 18px;
	position: relative;
}

.boule
{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background-color: rgb(78, 177, 213);
	margin: 2px solid white;
	position: absolute;
	right: -7px;
	top: 40%;
}

/* Portfolio */
#portfolio
{
	background-color: rgb(245, 245, 245);
	padding-top: 10px;
	padding-bottom: 10px;
}

.projets ul
{
	justify-content: center;
}
.projets li
{
	padding: 10px 10px 10px 10px;
	background-color: rgb(229, 229, 229);
	position: relative;
}

#focusProjet
{
	border-radius: 10% 0 0 10%;
}

.projets li:last-child
{
	border-radius: 0 10% 10% 0;
}

.projets li:hover, #focusProjet
{
	color: white;
	font-family: 'robotoBold';
	background-color: rgb(78, 177, 213);
	box-shadow: 0px 3px 0px rgb(70, 140, 173);
}

.projets li:hover:after, #focusProjet:after
{
	content: "";
	position: absolute;
	left: 50%;
	bottom: -10px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid rgb(70, 140, 173);
	transform: translateX(-50%);
}

.portfolioContainer
{
	display: flex;
}

.portfolio
{
	position: relative;
	width: 22%;
	margin-left: 2%;
	margin-right: 2%;
}

.portfolio img
{
	position: relative;
	width: 100%;
	height: 100%;
}

.portfolio figcaption
{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40%;
	color: white;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0;
}

figcaption p
{
	font-size: 0.8em;
}

.portfolio figcaption:hover
{
	opacity: 1;
}

.portfolio h4
{
	line-height: 0;
	margin-left: 6px;
	margin-bottom: 10px;
	margin-top: 4%;
	font-size: 0.9em;
}

.portfolio p
{
	margin-left: 6px;
}

.eye
{
	position: absolute;
	top: -30%;
	right: 5%;
	height: 30px;
	width: 30px;
	background-color: rgb(78, 177, 213);
	border: 2px solid white;
	border-radius: 50%;
	justify-content: center;
	vertical-align: middle;
}

.eye i
{
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
/* Contact */
#contact
{
	height: 600px;
	position: relative;
}

#map, .voile
{
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

#map
{
	z-index: 10;
}

.voile
{
	background-color: rgba(78, 177, 213, 0.3);
	z-index: 20
}

#contactForm
{
	position: relative;
	top: 10%;
	left: 60%;
	background-color: rgba(255, 255, 255, 0.8);
	color: rgb(100, 104, 109);
	max-width: 250px;
	padding: 2px 15px 15px 15px;
	z-index: 30;
}

.contactTitle
{
	text-transform: capitalize;
	font-style: bold;
	font-size: 1.3em;
	color: black;
}

input, textarea
{
	margin-bottom: 10px;
	width: 100%;
	border: 1.5px solid rgb(100, 104, 109);
	border-radius: 3px;
}

textarea
{
	height: 120px;
}

/* Media queries */

@media all and (max-width: 800px) and (max-device-width: 800px)

{
	.fixed ul
	{
		justify-content: space-around;
	}
	.logoWebAgency
	{
		display: none;
	}
	#sliderText
	{
		width: 60%;
		top: 10%;
	}
	h1
	{
		font-size: 0.9em;
	}
	h1 + p
	{
		font-size: 0.6em;
	}
	#sliderText .btn
	{
		font-size: 0.6em;
	}
	.titre
	{
		width: 80%;
	}
	.ordi
	{
		display: none;
	}
	.portfolio
	{
		width: 23%;
		margin-left: 1%;
		margin-right: 1%;
	}
	.portfolio figcaption
	{
		display: none;
	}
	#contactForm
	{
		left: 10%;
	}
	
}