@font-face 
{
    font-family: 'robotoRegular';
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
}

/*Style général*/

body
{
	font-family: 'robotoRegular', Comic Sans MS, Verdana, Arial, sans-serif;
}

h2
{
	text-align: center;
	text-transform: uppercase;
}

h2 + p
{
	text-align: center;
	margin-right: 200px;
	margin-left: 200px;
}

#bloc_page
{
	width: 900px;
	margin: auto;
	margin-top: 100px;
}

/*Header et navigation*/

header
{
	width: 900px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

nav ul
{
	display: flex;
	list-style-type: none;
}

nav li
{
	margin-right: 15px;
}

nav a
{
	color: black;
	text-decoration: none;
}

nav a:hover
{
	border-top: 3px solid rgba(78 177 213);
}

/* Acceuil */

#mainFeature
{
	float: left;
}

.slider
{
	width: 900px;
	color: white;
}

#infoBtn
{
	width: auto;
	padding: 6px 6px 6px 6px;
	font-style: bold;
	color: white;
	background-color: rgba(78 177 213); /*couleur du point dans le logo webagency*/
}

/* Portfolio */

.portfolio
{
	width: 200px;
	margin: 10px 10px 10px 10px;
}

/* Contact */

#contact
{
	background-color: grey; /*test*/
	height: 600px; /*test*/
}

#contactForm
{
	position: relative;
	top: 30px;
	left: 500px;
	background-color: white;
	opacity: 0.6;
	width: 250px;
	padding: 2px 10px 10px 10px;
}

#contactTitle
{
	text-transform: capitalize;
	font-style: bold;
	font-size: 1.3em;
}

form
{
	opacity: 1;
}

input, textarea
{
	margin-bottom: 10px;
	width: 230px;
}

textarea
{
	height: 120px;
}

#sendBtn
{
	width: auto;
	padding: 6px 6px 6px 6px;
	font-style: bold;
	color: white;
	background-color: rgba(78 177 213); /*couleur du point dans le logo webagency*/
}